plugin_shoebot/install/plugin_data/apps.shoebot.gschema.xml
plugin_shoebot/install/plugin_data/shoebot.gedit-plugin
plugin_shoebot/install/plugin_data/shoebot.lang
plugin_shoebot/install/plugin_data/shoebot.plugin
